body {
    background-color: #242333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Lato", sans-serif;
    margin: 0;
}

.topnav {
    width: 80vw;
    text-align: center;
    background-color: #201e2c;
}

.navElement {
    padding-left: 10px;
    padding-right: 10px;
}

.movieContainer {
    background-color: #2f2e38;
}

.showContainer {
    background-color: #2f2e38;
}

.alertForm {
    color: black;
    /* font-size: 20px; */
}